.ticket {
	margin: 50px;
	.ticket-header {
		display: flex;
		justify-content: space-between;
		padding: 20px;
	}

	.button-container {
		button {
			margin: 0 20px;
		}
	}

	// .ticket-details {
	// }

	// .other-details {
	// }
}
